/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {


    margin: 0;
    padding: 0;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {

    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*navigation*/
.main-navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 26px;

    background-color: #ffffff;


}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 0 6%;
    padding: 0;

    list-style: none;
}

.site-navigation li {
    width: 20%;
}

.site-navigation a {
    display: block;

    /*vertical-align: middle;*/
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .item-left a,
.site-navigation .item-right a {
    padding: 15px 0;
}

.site-navigation .item-left {
    text-align: left;
}

.site-navigation .item-right {
    text-align: right;
}

.main-header-logo {

    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10;

}

.main-header-logo img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
}

/*banner*/
.banner {
    position: relative;
    margin-bottom: 60px;
    background-size: 100% 57px, cover;
    background-image: url("/img/border_banner.png"), url("/img/background_photo.jpg");
    background-position: 0px 452px, top center;
    background-repeat: no-repeat, no-repeat;
    background-color: #a09e9e;
}

.banner-slogan {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 80px;
}


/*about*/

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    z-index: 9;
    background-color: #ffffff
}

.about .features-promo {
    width: 576px;
    text-align: center;

}

.about h2 {
    margin: 0;
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;

}

.features-promo p {

    font-family: 'PT Sans Regular', Arial, sans-serif;

    font-size: 14px;
    line-height: 26px;

    color: #333333;

    margin-bottom: 55px;
}

.features-conteiner {
    height: 257px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*flex-wrap: wrap;*/

    overflow: hidden;

}

.features-description {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 257px;

    padding: 0 5% 0px;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
}

.features-description h3 {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 130px;
    padding-top: 45px;

    font-family: 'PT Sans Bold', Arial, sans-serif;

    font-size: 21px;

    line-height: 21px;
}

.features-description-country h3 {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 180px;
    padding-top: 45px;

    font-family: 'PT Sans Bold', Arial, sans-serif;

    font-size: 21px;
    line-height: 21px;
}

.features-description .features-text {
    margin: 0;
    width: 90%;

    font-family: 'PT Sans Regular', Arial, sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;


    /*overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;*/
}

.features-description .features-number {
    position: relative;
    margin-bottom: 20px;

    font-family: 'PT Sans Regular', Arial, sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.features-description .features-number::before {

    position: absolute;
    top: 10px;
    right: 25px;

    width: 9px;
    height: 1px;

    content: "";

    background-color: #000000;
}

.features-description .features-number::after {
    position: absolute;
    top: 10px;
    left: 25px;

    width: 9px;
    height: 1px;

    content: "";

    background-color: #000000;
}

.features-special .features-number::before,
.features-special .features-number::after {
    background-color: #ffffff;
}

.features-image-wrapper {

    margin: 0;
    width: 66.67%;
}

.features-image-wrapper img {
    width: 100%;
}


.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-height: 330px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-item {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 5%;
    margin-top: 160px;
    text-align: center;
}

.features-item h3 {
    position: relative;
    width: 150px;
    margin-right: auto;
    margin-bottom: 21px;
    margin-left: auto;

    font-family: 'PT Sans Bold', Arial, sans-serif;

    font-size: 21px;
    line-height: 21px;
}

.features-item-leave h3::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 38px;

    width: 75px;
    height: 75px;

    background-image: url("/svg/icon-1.svg");
    background-repeat: no-repeat;


}

.features-item-food h3::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 38px;

    width: 75px;
    height: 70px;

    background-image: url("/svg/icon-3.svg");
    background-repeat: no-repeat;


}

.features-item-staff h3::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 45px;

    width: 80px;
    height: 75px;

    background-image: url("/svg/icon-2.svg");
    background-repeat: no-repeat;


}

.features-item p {
    font-family: 'PT Sans Regular', Arial, sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    -webkit-columns: #333333;
    -moz-columns: #333333;
    columns: #333333;
}

.features-special {
    background-color: #81b3d2;
}

.features-special h3,
.features-special p {
    color: #ffffff;
}

/*location*/

.location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin: 0;
    padding: 0;
    z-index: 8;

    background-color: #ffffff
}

.location .location-promo {
    width: 576px;
    text-align: center;

}

.location h2 {
    margin: 0;
    margin-bottom: 35px;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #000000;

}

.location-promo p {

    font-family: 'PT Sans Regular', Arial, sans-serif;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #333333;

    margin-bottom: 50px;
}

.button {
    display: inline-block;

    padding: 30px 125px;
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;

    background-color: #766357;
    border: none;

    z-index: 10;
}

.button:hover,
.button:focus {
    background-color: #604e43;
}

.button:active {
    background-color: #503e33;
    color: #928a85;
}

.location-image-container {
    position: relative;
    max-height: 480px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    z-index: 1;

}

.location-image-wrapper {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    width: 100%
}

.location-image-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.location-image-wrapper img {
    position: absolute;
    top: 0;
    width: 100%;

}

/*footer*/
.main-footer {
    position: relative;
    margin-top: 0px;
    padding: 33px 0;

    color: #000000;

    background-color: rgba(253, 253, 253, 0.9);
    z-index: 2;
}

.main-footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.footer-hashtag-wrapper {
    width: 33.33%;
    text-align: center;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
}

.footer-hashtag-wrapper p {
    margin-top: 11px;
    padding: 0;
}

.footer-copyright {
    width: 33.33%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    font-family: 'PT Sans Regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright .footer-copyright-htmlacademy {
    margin-left: 6px;
    margin-top: 5px;
}

.footer-copyright b {
    margin-top: -5px;
    padding: 0;
}

.footer-social {
    width: 33.33%;
    text-align: center;
    margin-top: 3px;

}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    color: #ffffff;
    background-color: #81b3d2;
    margin-left: 6px;
}

.footer-social ul:last-child {
    margin-left: 0;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    -webkit-filter: invert(30%);
    filter: invert(30%);
    background-color: #5496bd;

}

.social-button:active path {
    fill: #88b6d1;
}


/*modal*/

.modal {


    position: absolute;
    background-color: #ffffff;

    z-index: 11;
}

.modal-search {


    top: 0;
    left: 50%;

    width: 473.5px;
    margin-left: -291.75px;
    padding: 55px;

}

.search-form {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;

}

.search-form label {
    display: inline-block;
    width: 117px;
    text-align: left;
    vertical-align: middle;

}

.search-form input[type="text"] {
    position: relative;
    display: inline-block;
    width: 301px;
    padding: 5px 30px 5px 15px;
    vertical-align: middle;
    border-style: none;
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    outline: none;
    border: none;
    border: solid 1px #f2f2f2;

}


.search-form input:active {
    border-color: #663d15;
}


.date-enter {
    margin: 0;
    margin-bottom: 25px;
}

.input-date-icon,
.output-date-icon {
    background-color: #f2f2f2;
    background-image: url(/svg/calendar.svg);
    background-position: 315px center;
    background-repeat: no-repeat;
}

.search-form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;


}

.form-adult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;

}

.form-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
}

.form-child label {
    text-align: center;
}

.add-button-wrapper {
    position: relative;
    width: 115px;
}

.add-button-wrapper input[type="text"] {
    width: 32px;
    padding-right: 41px;
    padding-left: 41px;
    text-align: center;
    background-color: #f2f2f2;
}


.search-form-wrapper .add-button {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 0px;
    cursor: pointer;
    font: inherit;
    text-align: center;
    color: #a9a9a9;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #f2f2f200;
    border: none;
}

.search-form-wrapper .button-minus {
    left: 0;
}

.search-form-wrapper .button-plus {
    right: 0;
}

.search-form-wrapper .button-minus::after {
    content: "";
    position: absolute;
    position: absolute;
    top: 18px;
    left: 14px;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;



}

.search-form-wrapper .button-plus::after {
    content: "";
    position: absolute;
    position: absolute;
    top: 18px;
    left: 14px;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
}

.search-form-wrapper .button-plus::before {
    content: "";
    position: absolute;
    position: absolute;
    top: 18px;
    left: 14px;
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.search-form-wrapper .add-button:hover::after,
.search-form-wrapper .add-button:hover::before,
.search-form-wrapper .add-button:focus::after,
.search-form-wrapper .add-button:focus::before {
    background-color: #000000;
}

.search-form-wrapper .add-button:active::after,
.search-form-wrapper .add-button:active::before {
    background-color: #81b3d2;
}


.search-button {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 20px;
    top: 0px;
    cursor: pointer;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;

}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

    }

    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);

    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }

    70% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

    }

    90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);

    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes unbounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    30% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

    }

    100% {

        -webkit-transform: scale(0);

        transform: scale(0);

        display: none;

    }
}

@keyframes unbounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    30% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);

    }

    100% {

        -webkit-transform: scale(0);
        transform: scale(0);

        display: none;

    }
}

.modal_hide {

    -webkit-animation: unbounce 0.6s forwards;

    animation: unbounce 0.6s forwards;

}

.modal_show {
    display: block;

    -webkit-animation: bounce 0.6s;

    animation: bounce 0.6s;
}

/*Catalog*/
.filters {
    padding-top: 29px;
    background-color:#647e94;
    background-image: url(/img/filter_background.jpg);
    background-repeat:  no-repeat ;
    background-size: 100% auto;
    color:#ffffff;

    font-family: 'PT Sans Regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;

}
.filters legend {
    font-family: 'PT Sans Bold', Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 30px;
}
.filters-form {
    display: flex;
    justify-content: space-between;

}

.filter_container {
    display: flex;
    width: 58%;
    margin-left: 6%;
   
}
.comfort_wrapper {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
    width: 256px;
    
}

.filter_list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;

}
.filter-option {
    margin-bottom: 30px;
    padding-left: 45px;
    list-style: none;
}

.filter-option label {
    position: relative;
    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -3px;

    width: 27px;
    height: 27px;
    background-image: url(../svg/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    left: -42px;
    top: -3px;

    width: 27px;
    height: 27px;
    background-image: url(../svg/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:disabled+label {
    color: #000000;

    opacity: 0.5;
}




.housing_wrepper{
    margin-left: 6%;
    width: 256px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
}
.price-wrapper{
    padding: 0;
    margin: 0;
    
    border: none;

    width: 30%;
    margin-right: 6%;

    
    margin-bottom: 30px;

    width: 256px;
}
.price-panel {
    display: flex;
    
    border:2px solid #ffffff;
    border-radius:2px;

    margin-bottom: 10px;
}
.price-panel p {
    margin: 6px 0;
    width: 50%;
    padding-right: 5px;
    text-align: right;
    vertical-align: center;
}
.price-panel label {
    position: relative;
    display: flex;
    
    width: 50%;
    
}
.price-panel label:last-child::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;

    width: 2px;
    height: 23px;
    background-color: #ffffff;
}
.price-panel input[type="text"] {
    width: 50%;
    vertical-align: center;
    box-sizing: border-box;

    font: inherit;
    color:#ffffff;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    
}
.slider-panel {
    position: relative;
    display: flex;
    margin-bottom: 40px;

}
.range-toggle{
    
    position: absolute;
    top: 0;
    
    width: 20px;
    height: 20px;

    background-image: url(../svg/filter-button.svg);
    background-repeat: no-repeat;
    background-position: 0 0;


}
.range-toggle:hover {
    transform: scale(1.1);
}
.range-toggle-left {
    left: 50%;
}

.range-toggle-right {
    right: 10%;
}
.range-line {
    position: absolute;
    
    top:9px;
    
    height: 2px;
    background-color: #ffffff;
}
.range-line-left {
    left: 0;
    width: 50%;
    opacity: 0.3;
}
.range-line-right {
    right: 0;
    width: 10%;
    opacity: 0.3;
}
.range-line-center{
    left: 50%;
    width: 40%;
} 

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 9px 35px;

    font: inherit;
    text-transform: uppercase;
    color:#ffffff;
    
    background-color: rgba(0, 0, 0, 0);

    border: 2px solid #ffffff;
    border-radius:2px;

}
.btn-transparent:hover,
.btn-transparent:focus{
    color: #000000;
    background-color:#ffffff;
}